.dashboard-container {
    /*background-color: #0f0e00;*/
    height: auto;
    width: 100%;
    padding-left: 380px;
    padding-right: 380px;
    padding-top: 30px;
    min-height: 100vh;
    overflow-y: scroll;
}


.oscar-art{
    width:300px;
    height:auto;
    left:0;
    position: fixed;
}

.popcorn{
    width:300px;
    height:auto;
    right:0;
    top:0;
    position: fixed;
}

.background{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 0;
}